/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0 auto;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	background-color: #e6e6e6;
}

a {
	text-decoration: none;
}

li {
	display: inline-block;
	width: 280px;
}



h3 {
	display: inline-block;
}

.main_header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	display: block;
}


.add_button {
	float: right;
	margin: 15px 20px 0 0;
	width: 180px;
	height: 40px;
	border-radius: 2px;
	background: #2da9e3;
	color: #fff;
	text-align: center;
	font-size: 1.3em;
	line-height: 40px;
	display: inline-block;
}

.event_link {
	text-decoration: none;
	color: #000;
}

.add_button:hover {
	background: #fff;
	line-height: 36px;
	color: #2da9e3;
	border: 2px solid #2da9e3;
}

.logo {
	width: 320px;
	display: inline-block;
	margin: 5px 0 5px 20px;
}

.at_symbol {
	color: #2da9e3;
}

.hideme {
	visibility: hidden;
}

.float_left {
	float: left;
}