<div class="footer">
			<div class="footer_text">
				<img src="../../assets/freela.png" class="footer_logo"><br><br>
				<strong>Free::LA</strong> is the definitive guide to free concerts, parties, festivals and more awesome events in Los Angeles.<br>
			<a href="" data-toggle="modal" data-target="#signupModal">Sign up</a> now to add your own events.</div>
</div>